@import '@fontsource/roboto/latin-300.css';
@import '@fontsource/roboto/latin-400.css';
@import '@fontsource/roboto/latin-500.css';
@import '@fontsource/roboto/latin-ext-400.css';

@import 'material-icons/iconfont/filled.css';

mat-card {
  padding: 1rem;
  box-shadow: none;
  background: var(--mat-sys-surface-container-low);
}
